/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

header,
.banner {
  width: 90%;
}

header {
  margin: 0;
  padding-top: 2em;
  background-color: #fff;
  width: 100%;
}

.banner {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner-greeting {
  background: url(images/ellipse-shapes.png) 0 0 no-repeat;
  background-size: 100%;
  background-color: #fff;
}

.banner-about {
  border-top-right-radius: 75px;
  background-color: #fff;
  padding-bottom: 20%;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0.875em 1.5em;
  border: 5px #6070ff;
}

.myLogo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  text-decoration: none;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 5.5em 0 10em;
}

.greeting {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  width: 80%;
  padding-bottom: 0.2em;
}

.intro {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-bottom: 0.2em;
}

.social-media {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.connect {
  margin: 1em 0;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1em;
  list-style: none;
}

#proj1 {
  background-image: url(images/proj.png);
}

#proj2 {
  background-image: url(images/proj2.png);
}

#proj3 {
  background-image: url(images/proj3.png);
}

#proj4 {
  background-image: url(images/proj4.png);
}

.works {
  background-color: #e5e5e5;
  width: 100%;
  display: grid;
  margin: 4em 0em 4em 9%;
}

.project-container {
  padding: 4%;
  background-color: #fff;
  border-radius: 16px;
  margin: 2.8em 0;
  border: 1px solid #dfe1e6;
  width: 90%;
}

.proj-img {
  height: 15em;
  background-repeat: no-repeat;
  background-size: contain;
}

.project-title {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  width: 295px;
  height: 36px;
  font-style: normal;
  margin: 0.5em 0;
}

.author-details {
  display: flex;
  flex-direction: row;
  gap: 2%;
  width: 85%;
  margin: 1em 0;
}

.auth-name {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style: none;

  width: 55px;
  height: 16px;
  font-style: normal;
}

.auth-role,
.year {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  margin-left: 7%;
}

.proj-desc {
  width: 295px;
  height: 76px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  margin: 1em 0;
}

.tech-item {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.btn {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 8px;
  padding: 0.6em 0.6em;
  margin: 0.5em 1em 1em 0;
}

.tech-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.languages {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
  padding-bottom: 10%;
}

.lang-item {
  background: #f7f7f9;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin: 0.5em 0;
  padding: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.lang-ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2%;
  width: 95%;
}

.tech-img {
  border-radius: 50%;
}

.technologies {
  display: flex;
  flex-direction: row;
  gap: 3%;
  list-style: none;
  margin: 1em 0;
}

.tech-item {
  background-color: #ebebff;
  padding: 0.5em 1em;
  border-radius: 8px;
}

.resume {
  width: 52%;
}

.about-container {
  margin: 7.5em 0 2em;
}

.unexpand {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 1px #dfe1e6;
  width: 100%;
  padding: 1.5em 0;
}
